/* https://htmlcheatsheet.com/css/ */

body{
background: #9D0FA4;
background: -moz-linear-gradient(left, #9D0FA4 0%, #0A1175 100%);
background: -webkit-linear-gradient(left, #9D0FA4 0%, #0A1175 100%);
background: linear-gradient(to right, #9D0FA4 0%, #0A1175 100%);
}

section{
    display: grid;
    grid-template-areas: 
    ". a a b"
    "c d d b"
    "e e e b";
    row-gap: 2rem;
    column-gap: 2rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}

div{
    background-color: aliceblue;
    border-radius: 2rem;
    font-size: 4rem;
    padding: 2rem;
    border: 4px dotted red;
}