:root{
    --primarna-boja: #432c50;
    --pozadina: #e6ffee;
}

body{
    background-color: var(--pozadina);
    background-image: radial-gradient(circle, #bdc3c7 1px, transparent 1px);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
    width: 90%;
    max-width: 100px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;

    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--primarna-boja);
    outline-offset: 10px;
}

section{
    border: 2px solid var(--primarna-boja);
    border-radius: 0.5rem;
    margin: 10px;
    padding: 15px;
}