body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #f0f0f0;
}


.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px; 
    grid-template-rows: 100px 1fr 100px; 
    width: 98vw;
    gap: 10px;
    height: 98vh;
    padding: 10px;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    border-radius: 0%;
}


#p1 {
    grid-area: 1 / 1 / 2 / span 3;
    background-color: #d65846;
    border: solid black;
}


#p2 {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: #5296d6;
    border: solid black;
}


.content {
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template-rows: 100px 1fr; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    border: solid black;
}


#s1 {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: #eac645;
    border: solid black;
    height: 40px;
    margin-top: 250px;
}


#s2 {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: #d8833b;
    border: solid black;
    height: 40px;
    margin-top: 600px;
}


#s3 {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #4b9e86;
    border: solid black;
    height: 40px;
    margin-top: 250px;
    margin-top: 600px;
}


#p4 {
    grid-area: 2 / 3 / span 1 / span 1;
    background-color: #925cb1;
    border: solid black;
}


#p5 {
    grid-area: 3 / 1 / 4 / span 3;
    background-color: #65c97a;
    border: solid black;
}